# Prevent github from including generated source files in repository stats
resources/*.h linguist-generated
resources/**/*.h linguist-generated
resources/image.h !linguist-generated
resources/font/font.h !linguist-generated
